In [66]:
!pip install tabula-py
!pip install PyPDF2

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: tabula-py in /usr/local/lib/python3.10/dist-packages (2.7.0)
Requirement already satisfied: pandas>=0.25.3 in /usr/local/lib/python3.10/dist-packages (from tabula-py) (1.5.3)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from tabula-py) (1.22.4)
Requirement already satisfied: distro in /usr/local/lib/python3.10/dist-packages (from tabula-py) (1.8.0)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.25.3->tabula-py) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.25.3->tabula-py) (2022.7.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas>=0.25.3->tabula-py) (1.16.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: PyPDF2 in /usr/local/lib/python3.10/dist-packages (3.0.1)

In [67]:
import tabula
import PyPDF2
import pandas as pd

In [68]:
caminho_arquivo_pdf = '/content/UFF-Edital-190-2022-NotasdaProvaEscrita.pdf'

In [69]:
# Numero de páginas
pdf_reader = PyPDF2.PdfReader(open(caminho_arquivo_pdf, 'rb'))
num_paginas = len(pdf_reader.pages)
num_paginas

354

In [70]:
tabelas = tabula.read_pdf(caminho_arquivo_pdf, pages='all')

In [71]:
dataframes = []

In [72]:
for tabela in tabelas:
    # Verifica se a tabela extraída tem conteúdo
    if not tabela.empty:
        dataframes.append(tabela)

In [73]:
df = pd.concat(dataframes, ignore_index=True)

In [74]:
df.head(100)

,Inscrição,Nome do Candidato,CPF,Data de,Pontos,Pontos.1,Pontos.2,Data de\rNascimento,Pontos\rParte I,Pontos\rParte II,Pontos\rParte III
0,NaN,NaN,NaN,Nascimento,Parte I,Parte II,Parte III,NaN,NaN,NaN,NaN
1,2.508332e+09,ADA LENA ***********,074434*****,14/09/1978,faltou,faltou,faltou,NaN,NaN,NaN,NaN
2,2.508336e+09,ALOISIO ************,136485*****,26/04/1992,"10,50","15,00",62,NaN,NaN,NaN,NaN
3,2.508268e+09,AMANDA *************,094479*****,03/06/1983,"6,00","12,00",24,NaN,NaN,NaN,NaN
4,2.508359e+09,ANA GABRIELLE ******,161832*****,18/11/2000,"9,00","7,50",40,NaN,NaN,NaN,NaN
5,2.508341e+09,ANA PATRICIA *******,027897*****,01/09/1972,"7,50","7,50",36,NaN,NaN,NaN,NaN
6,2.508348e+09,BERNARDO ***********,082332*****,13/10/1979,"7,50","10,50",50,NaN,NaN,NaN,NaN
7,2.508385e+09,BERNARDO ***********,093511*****,13/10/1981,"9,00","12,00",44,NaN,NaN,NaN,NaN
8,2.508375e+09,CECILIA ************,144779*****,14/09/1993,faltou,faltou,faltou,NaN,NaN,NaN,NaN
9,2.508257e+09,CHANTALLA **********,109744*****,19/12/1983,"9,00","13,50",62,NaN,NaN,NaN,NaN
10,2.508293e+09,CLAUDIELEN *********,172738*****,29/06/1998,"4,50","9,00",22,NaN,NaN,NaN,NaN
11,2.508355e+09,DANIEL *************,136626*****,17/10/1990,faltou,faltou,faltou,NaN,NaN,NaN,NaN
12,2.508288e+09,DANIELLE ***********,119491*****,11/01/1988,faltou,faltou,faltou,NaN,NaN,NaN,NaN
13,2.508397e+09,DEBORA *************,171094*****,04/07/1996,"10,50","12,00",58,NaN,NaN,NaN,NaN
14,2.508313e+09,DOUGLAS ************,060224*****,23/01/1994,"7,50","13,50",68,NaN,NaN,NaN,NaN
15,2.508329e+09,EDILANE ************,127175*****,08/07/1988,"7,50","7,50",48,NaN,NaN,NaN,NaN
16,2.508306e+09,ESTEFFANY **********,153915*****,12/04/1994,"9,00","15,00",66,NaN,NaN,NaN,NaN
17,2.508330e+09,ESTER **************,029392*****,26/02/1975,"6,00","13,50",56,NaN,NaN,NaN,NaN
18,2.508296e+09,FABIO **************,118979*****,21/02/1987,"7,50","10,50",58,NaN,NaN,NaN,NaN
19,2.508304e+09,FABIO **************,021177*****,18/06/1972,faltou,faltou,faltou,NaN,NaN,NaN,NaN
20,2.508329e+09,FRANCIDALVA ********,925768*****,31/05/1986,faltou,faltou,faltou,NaN,NaN,NaN,NaN
21,2.508296e+09,GERSON *************,146697*****,02/10/1994,"12,00","12,00",46,NaN,NaN,NaN,NaN
22,2.508253e+09,GIOVANNI ***********,153252*****,20/08/1992,"7,50","4,50",32,NaN,NaN,NaN,NaN
23,2.508328e+09,GUILHERME **********,144678*****,10/02/1994,"9,00","7,50",52,NaN,NaN,NaN,NaN
24,2.508348e+09,ISRAEL *************,051682*****,10/01/1979,"7,50","7,50",30,NaN,NaN,NaN,NaN
25,2.508259e+09,IVAN FRANCA ********,145428*****,12/04/1993,"10,50","12,00",52,NaN,NaN,NaN,NaN
26,2.508382e+09,JESSICA ************,123505*****,15/10/1991,"7,50","12,00",52,NaN,NaN,NaN,NaN
27,2.508297e+09,JULIANA ************,150244*****,01/11/1996,"6,00","12,00",30,NaN,NaN,NaN,NaN
28,2.508325e+09,JULIANA ************,135216*****,14/11/1989,"12,00","12,00",62,NaN,NaN,NaN,NaN
29,2.508335e+09,LEANDRO ************,105521*****,12/08/1985,faltou,faltou,faltou,NaN,NaN,NaN,NaN
30,2.508328e+09,LIZIANE ************,113883*****,07/05/1985,"7,50","7,50",42,NaN,NaN,NaN,NaN
31,2.508275e+09,LUAN ***************,131667*****,10/12/1993,"9,00","7,50",34,NaN,NaN,NaN,NaN
32,2.508309e+09,LUAN ***************,126593*****,23/08/1991,"9,00","12,00",60,NaN,NaN,NaN,NaN
33,2.508376e+09,LUANA **************,161192*****,27/08/1996,"3,00","9,00",56,NaN,NaN,NaN,NaN
34,2.508283e+09,LUCAS **************,063720*****,27/08/2001,"9,00","7,50",24,NaN,NaN,NaN,NaN
35,2.508263e+09,LUCIANA ************,090478*****,02/08/1980,"10,50","9,00",36,NaN,NaN,NaN,NaN
36,2.508384e+09,LUCIANA ************,118166*****,26/09/1988,"13,50","10,50",50,NaN,NaN,NaN,NaN
37,2.508291e+09,MAGDA **************,108900*****,30/09/1988,faltou,faltou,faltou,NaN,NaN,NaN,NaN
38,2.508272e+09,MARIANA ************,135143*****,06/06/1992,"12,00","10,50",40,NaN,NaN,NaN,NaN
39,2.508345e+09,MARILIA ************,056888*****,06/06/1982,"7,50","10,50",52,NaN,NaN,NaN,NaN
40,2.508280e+09,MATHEUS ************,161948*****,11/09/1997,"7,50","10,50",42,NaN,NaN,NaN,NaN
41,2.508377e+09,MATHEUS ************,153912*****,14/09/1995,faltou,faltou,faltou,NaN,NaN,NaN,NaN
42,2.508257e+09,MAURIANO ***********,144165*****,20/01/1993,"9,00","10,50",50,NaN,NaN,NaN,NaN
43,2.508345e+09,MICHELE ************,110730*****,03/06/1986,"7,50","12,00",60,NaN,NaN,NaN,NaN
44,2.508346e+09,NATASHA ************,184050*****,21/09/1999,faltou,faltou,faltou,NaN,NaN,NaN,NaN
45,2.508285e+09,PRISCILA ***********,706504*****,24/07/1998,faltou,faltou,faltou,NaN,NaN,NaN,NaN
46,2.508302e+09,RAFAEL *************,161596*****,21/01/2000,"6,00","6,00",42,NaN,NaN,NaN,NaN
47,NaN,NaN,NaN,Nascimento,Parte I,Parte II,Parte III,NaN,NaN,NaN,NaN
48,2.508356e+09,RAFAELA ************,167556*****,08/03/2003,"7,50","4,50",40,NaN,NaN,NaN,NaN
49,2.508345e+09,RAYSSA *************,127280*****,08/12/1999,faltou,faltou,faltou,NaN,NaN,NaN,NaN
50,2.508277e+09,RENATA *************,088920*****,06/11/1979,"12,00","13,50",48,NaN,NaN,NaN,NaN
51,2.508394e+09,ROBERTA ************,086757*****,16/12/1980,Eliminado,Eliminado,Eliminado,NaN,NaN,NaN,NaN
52,2.508355e+09,SARA ***************,093499*****,07/03/1983,"6,00","10,50",62,NaN,NaN,NaN,NaN
53,2.508280e+09,SAULO **************,041809*****,20/04/1975,"7,50","7,50",16,NaN,NaN,NaN,NaN
54,2.508394e+09,TATIANE ************,160959*****,13/10/1999,"3,00","4,50",28,NaN,NaN,NaN,NaN
55,2.508390e+09,THIAGO *************,099521*****,24/02/1984,"4,50","9,00",38,NaN,NaN,NaN,NaN
56,2.508351e+09,TIAGO **************,058902*****,21/06/1987,"10,50","9,00",36,NaN,NaN,NaN,NaN
57,2.508277e+09,VERONICA ***********,085670*****,12/01/1978,"0,00","1,50",14,NaN,NaN,NaN,NaN
58,2.508253e+09,VICTOR *************,087655*****,16/11/1989,"7,50","15,00",62,NaN,NaN,NaN,NaN
59,NaN,NaN,NaN,Nascimento,Parte I,Parte II,Parte III,NaN,NaN,NaN,NaN
60,2.608336e+09,ADRIANA ************,080111*****,20/05/1975,faltou,faltou,faltou,NaN,NaN,NaN,NaN
61,2.608260e+09,ADRIANA ************,055550*****,29/05/1982,"4,50","6,00",26,NaN,NaN,NaN,NaN
62,2.608396e+09,ADSON **************,100199*****,10/03/1983,"7,50","9,00",38,NaN,NaN,NaN,NaN
63,2.608395e+09,ALESSANDRA *********,162944*****,06/04/1999,faltou,faltou,faltou,NaN,NaN,NaN,NaN
64,2.608395e+09,ALESSANDRA *********,039506*****,17/07/1975,"9,00","10,50",58,NaN,NaN,NaN,NaN
65,2.608275e+09,ALICE **************,084114*****,26/03/1981,"10,50","10,50",64,NaN,NaN,NaN,NaN
66,2.608355e+09,ALINE **************,137757*****,05/04/2000,"10,50","6,00",38,NaN,NaN,NaN,NaN
67,2.608260e+09,ALINE **************,089194*****,14/10/1981,faltou,faltou,faltou,NaN,NaN,NaN,NaN
68,2.608314e+09,ALINE **************,137235*****,10/10/1989,"4,50","10,50",56,NaN,NaN,NaN,NaN
69,2.608297e+09,ALINY **************,156978*****,04/12/1992,"6,00","9,00",30,NaN,NaN,NaN,NaN
70,2.608331e+09,ALLICE *************,169106*****,05/11/1998,faltou,faltou,faltou,NaN,NaN,NaN,NaN
71,2.608338e+09,AMANDA *************,093247*****,13/04/1982,faltou,faltou,faltou,NaN,NaN,NaN,NaN
72,2.608292e+09,AMANDA *************,180758*****,24/05/2005,"10,50","9,00",48,NaN,NaN,NaN,NaN
73,2.608380e+09,AMANDA *************,156063*****,26/06/1996,"3,00","10,50",46,NaN,NaN,NaN,NaN
74,2.608335e+09,AMARO **************,101931*****,31/05/1985,faltou,faltou,faltou,NaN,NaN,NaN,NaN
75,2.608312e+09,ANA BEATRIZ ********,017647*****,06/10/1970,"4,50","7,50",22,NaN,NaN,NaN,NaN
76,2.608270e+09,ANA BEATRIZ ********,132348*****,01/07/2000,faltou,faltou,faltou,NaN,NaN,NaN,NaN
77,2.608276e+09,ANA CAROLINA *******,121956*****,24/10/1986,faltou,faltou,faltou,NaN,NaN,NaN,NaN
78,2.608305e+09,ANA ZILDA **********,091056*****,29/06/1981,"9,00","9,00",42,NaN,NaN,NaN,NaN
79,2.608305e+09,ANDERSON ***********,028342*****,12/12/1975,faltou,faltou,faltou,NaN,NaN,NaN,NaN
80,2.608319e+09,ANDREA *************,099399*****,30/08/1983,faltou,faltou,faltou,NaN,NaN,NaN,NaN
81,2.608370e+09,ANGELICA ***********,128323*****,13/05/1989,"6,00","6,00",32,NaN,NaN,NaN,NaN
82,2.608253e+09,ANTONIO ************,105090*****,12/12/1983,"9,00","6,00",26,NaN,NaN,NaN,NaN
83,2.608338e+09,ARYLSON ************,167015*****,30/08/1996,"12,00","12,00",62,NaN,NaN,NaN,NaN
84,2.608378e+09,BARBARA ************,117461*****,27/01/1989,"9,00","9,00",34,NaN,NaN,NaN,NaN
85,2.608285e+09,BARBARA ************,116334*****,01/01/1984,"4,50","7,50",38,NaN,NaN,NaN,NaN
86,2.608343e+09,BRUNA **************,111756*****,05/10/1985,faltou,faltou,faltou,NaN,NaN,NaN,NaN
87,2.608380e+09,BRUNA **************,126179*****,23/04/1990,faltou,faltou,faltou,NaN,NaN,NaN,NaN
88,2.608395e+09,BRUNA **************,119971*****,11/09/1985,"9,00","7,50",20,NaN,NaN,NaN,NaN
89,2.608278e+09,CAMILA *************,117020*****,30/10/1986,"12,00","12,00",48,NaN,NaN,NaN,NaN
90,2.608280e+09,CAMILA *************,106236*****,25/09/1983,"9,00","15,00",54,NaN,NaN,NaN,NaN
91,2.608254e+09,CARINA *************,087513*****,15/03/1979,"12,00","7,50",40,NaN,NaN,NaN,NaN
92,2.608341e+09,CARINA *************,095733*****,29/09/1982,faltou,faltou,faltou,NaN,NaN,NaN,NaN
93,2.608335e+09,CARLA **************,121438*****,02/03/1987,"7,50","7,50",44,NaN,NaN,NaN,NaN
94,2.608295e+09,CARLA **************,168921*****,20/03/1999,"10,50","7,50",42,NaN,NaN,NaN,NaN
95,2.608261e+09,CARLA **************,086548*****,11/02/1980,"6,00","10,50",48,NaN,NaN,NaN,NaN
96,2.608361e+09,CARLOS *************,156162*****,22/12/1997,"9,00","6,00",30,NaN,NaN,NaN,NaN
97,2.608324e+09,CARLOS *************,044959*****,29/11/1973,"7,50","10,50",52,NaN,NaN,NaN,NaN
98,2.608396e+09,CARLOS *************,128019*****,01/11/1987,faltou,faltou,faltou,NaN,NaN,NaN,NaN
99,2.608396e+09,CAROLINA ***********,131999*****,16/06/1988,"7,50","12,00",30,NaN,NaN,NaN,NaN

In [75]:
# Encontra o índice da primeira ocorrência da coluna 'Inscrição' igual a 2018289482
indices = df[df['Inscrição'] == 2018289482]

In [76]:
indices = df.index[df['Inscrição'] == 2018289482]
indice_inicio = indices[0] if len(indices) > 0 else len(df)

In [77]:
df = df.iloc[indice_inicio:].copy()

In [78]:
df.reset_index(drop=True, inplace=True)

In [79]:
df.head()

,Inscrição,Nome do Candidato,CPF,Data de,Pontos,Pontos.1,Pontos.2,Data de\rNascimento,Pontos\rParte I,Pontos\rParte II,Pontos\rParte III
0,2.018289e+09,ABIMAEL ************,276871*****,06/04/1962,"9,00","7,50",40,NaN,NaN,NaN,NaN
1,2.018379e+09,ABNER **************,133179*****,08/02/1992,"9,00","9,00",44,NaN,NaN,NaN,NaN
2,2.018320e+09,ACACIO *************,130111*****,06/08/1999,"10,50","10,50",50,NaN,NaN,NaN,NaN
3,2.018314e+09,ACACIO *************,020229*****,14/07/1988,faltou,faltou,faltou,NaN,NaN,NaN,NaN
4,2.018297e+09,ACASSIA ************,173062*****,05/10/2002,"9,00","6,00",24,NaN,NaN,NaN,NaN

In [80]:
indice_fim = df[df['Inscrição'] == 2018270338].index[0] + 1
# Excluir os registros acima
df = df.iloc[:indice_fim]
df.reset_index(drop=True, inplace=True)

In [81]:
pd.set_option('display.max_columns', None)  # Exibir todas as colunas
pd.set_option('display.max_rows', None)  # Exibir todas as linhas
pd.set_option('display.width', None)

In [88]:
valores_distintos = df['Pontos'].unique()
valores_distintos

array(['9,00', '10,50', 'faltou', '7,50', '4,50', '0,00', '1,50', '6,00',
       '12,00', '3,00', 'Parte I', '13,50', 'Eliminado', '15,00'],
      dtype=object)

In [97]:
valores_distintos = df['Pontos.2'].unique()
valores_distintos

array(['40', '44', '50', '24', '14', '58', '28', '46', '66', '36', '56',
       '26', '42', '38', '64', '18', '30', '32', '48', '20', '22', '34',
       '54', '68', '52', '60', '62', '70', '16', '12', '2', '10'],
      dtype=object)

In [93]:
df = df.loc[df['Pontos'] != 'faltou']
df = df.loc[df['Pontos'] != 'Parte I']
df = df.loc[df['Pontos'] != 'Eliminado']

In [98]:
valores_distintos = df['Pontos'].unique()
valores_distintos

array(['9,00', '10,50', '7,50', '4,50', '0,00', '1,50', '6,00', '12,00',
       '3,00', '13,50', '15,00'], dtype=object)

In [82]:
colunas_desejadas = ['Inscrição', 'Nome do Candidato','Data de','Pontos','Pontos.1','Pontos.2']
df = df[colunas_desejadas]

In [95]:
df.head()

      Inscrição     Nome do Candidato     Data de Pontos Pontos.1 Pontos.2
0  2.018289e+09  ABIMAEL ************  06/04/1962   9,00     7,50       40
1  2.018379e+09  ABNER **************  08/02/1992   9,00     9,00       44
2  2.018320e+09  ACACIO *************  06/08/1999  10,50    10,50       50
4  2.018297e+09  ACASSIA ************  05/10/2002   9,00     6,00       24
6  2.018258e+09  ACSA ***************  01/05/1994   7,50     6,00       14

In [99]:
df['Pontos'] = pd.to_numeric(df['Pontos'].str.replace(',', '.'))
df['Pontos.1'] = pd.to_numeric(df['Pontos.1'].str.replace(',', '.'))
df['Pontos.2'] = pd.to_numeric(df['Pontos.2'].str.replace(',', '.'))

In [100]:
df['NOTA_FINAL'] = df['Pontos'] + df['Pontos.1'] + df['Pontos.2']

In [103]:
df = df.sort_values(by='NOTA_FINAL', ascending=False)

In [110]:
df = df.reset_index(drop=True)

df.head(400)

,Inscrição,Nome do Candidato,Data de,Pontos,Pontos.1,Pontos.2,NOTA_FINAL
0,2.018273e+09,JULIA **************,27/06/1978,13.5,15.0,70,98.5
1,2.018326e+09,GUSTAVO ************,03/02/1984,12.0,15.0,70,97.0
2,2.018341e+09,REJANE *************,15/09/1979,12.0,15.0,70,97.0
3,2.018346e+09,VALESKA ************,19/11/1971,13.5,13.5,70,97.0
4,2.018253e+09,MARCIO *************,18/06/1981,12.0,15.0,70,97.0
5,2.018311e+09,OTAVIA *************,14/10/1981,13.5,15.0,68,96.5
6,2.018317e+09,WEBER **************,19/12/1979,13.5,15.0,68,96.5
7,2.018307e+09,CARLOS *************,30/12/1989,15.0,15.0,66,96.0
8,2.018323e+09,JAIRO **************,21/05/1985,12.0,13.5,70,95.5
9,2.018314e+09,STEPHANIE **********,17/12/1991,10.5,15.0,70,95.5
10,2.018352e+09,ALEXANDRE **********,05/03/1991,10.5,15.0,70,95.5
11,2.018344e+09,VERA ***************,13/05/1959,13.5,12.0,70,95.5
12,2.018258e+09,ALINE **************,31/08/1989,10.5,15.0,70,95.5
13,2.018369e+09,DIEGO **************,26/03/1987,12.0,13.5,70,95.5
14,2.018341e+09,VIVIANE ************,14/12/1987,12.0,13.5,70,95.5
15,2.018311e+09,CARLA **************,29/07/1989,13.5,13.5,68,95.0
16,2.018378e+09,MATHEUS ************,11/05/1992,12.0,15.0,68,95.0
17,2.018310e+09,ANA PAULA **********,25/05/1980,13.5,13.5,68,95.0
18,2.018316e+09,KAREN **************,13/08/1992,12.0,15.0,68,95.0
19,2.018370e+09,SIMONE *************,22/09/1972,12.0,15.0,68,95.0
20,2.018257e+09,PAULA **************,19/11/1991,12.0,15.0,68,95.0
21,2.018257e+09,MAYRA **************,25/02/1991,10.5,13.5,70,94.0
22,2.018386e+09,LEONARDO ***********,04/01/1984,10.5,13.5,70,94.0
23,2.018292e+09,VIVIANE ************,16/04/1990,10.5,13.5,70,94.0
24,2.018280e+09,ANDRE **************,16/06/1998,10.5,13.5,70,94.0
25,2.018308e+09,RAFAEL *************,24/07/1992,10.5,13.5,70,94.0
26,2.018281e+09,MATEUS *************,12/04/2000,12.0,13.5,68,93.5
27,2.018299e+09,BRUNO **************,02/01/1985,10.5,15.0,68,93.5
28,2.018314e+09,AGNES **************,18/09/1991,10.5,15.0,68,93.5
29,2.018293e+09,CARINE *************,28/07/1983,10.5,15.0,68,93.5
30,2.018289e+09,PATRICK ************,22/06/1994,15.0,10.5,68,93.5
31,2.018365e+09,PEDRO **************,07/05/1992,12.0,13.5,68,93.5
32,2.018290e+09,BRUNA **************,17/12/2001,10.5,15.0,68,93.5
33,2.018257e+09,RICARDO ************,07/04/1967,12.0,13.5,68,93.5
34,2.018321e+09,MIURA **************,13/08/1992,10.5,15.0,68,93.5
35,2.018318e+09,GUILHERME **********,22/01/1994,13.5,12.0,68,93.5
36,2.018286e+09,JOSIANE ************,01/02/1980,12.0,13.5,68,93.5
37,2.018263e+09,MARCEL *************,09/10/1987,12.0,15.0,66,93.0
38,2.018274e+09,BRUNO **************,07/03/1993,12.0,15.0,66,93.0
39,2.018339e+09,PEDRO **************,28/02/2000,12.0,15.0,66,93.0
40,2.018320e+09,LIVIA **************,08/05/1986,13.5,13.5,66,93.0
41,2.018379e+09,GUILHERME **********,07/01/1997,12.0,15.0,66,93.0
42,2.018369e+09,CAMILA *************,08/07/1989,12.0,15.0,66,93.0
43,2.018284e+09,LEONARDO ***********,29/10/1982,12.0,15.0,66,93.0
44,2.018340e+09,RAQUEL *************,12/09/1991,12.0,15.0,66,93.0
45,2.018339e+09,FLAVIO *************,21/09/1978,12.0,15.0,66,93.0
46,2.018334e+09,IGOR PEREIRA *******,07/09/1991,12.0,15.0,66,93.0
47,2.018258e+09,VINICIUS ***********,25/10/1996,13.5,13.5,66,93.0
48,2.018277e+09,FLORA **************,08/04/1987,12.0,15.0,66,93.0
49,2.018323e+09,ROSANIA ************,27/04/1988,9.0,13.5,70,92.5
50,2.018351e+09,PABLO **************,07/10/1978,7.5,15.0,70,92.5
51,2.018317e+09,ALINE **************,23/04/1996,10.5,12.0,70,92.5
52,2.018313e+09,FERNANDA ***********,13/03/1985,12.0,10.5,70,92.5
53,2.018253e+09,KATIA **************,16/05/1986,9.0,13.5,70,92.5
54,2.018377e+09,CAROLINA ***********,01/03/1988,9.0,13.5,70,92.5
55,2.018280e+09,VANESSA ************,29/03/1992,9.0,13.5,70,92.5
56,2.018375e+09,LUIZ GABRIEL *******,18/09/1997,12.0,10.5,70,92.5
57,2.018310e+09,HUGO ***************,21/12/1991,7.5,15.0,70,92.5
58,2.018255e+09,CRISCIA ************,17/08/1989,13.5,15.0,64,92.5
59,2.018258e+09,BARBARA ************,24/02/1983,10.5,13.5,68,92.0
60,2.018352e+09,RAFAEL *************,02/02/1983,10.5,13.5,68,92.0
61,2.018285e+09,ANA CAROLINA *******,14/04/1987,10.5,13.5,68,92.0
62,2.018312e+09,ALESSANDRA *********,24/06/1990,10.5,13.5,68,92.0
63,2.018261e+09,PAULA **************,02/08/1988,9.0,15.0,68,92.0
64,2.018319e+09,LAURA **************,14/01/1993,10.5,13.5,68,92.0
65,2.018383e+09,CAIO BARROS ********,16/02/1997,12.0,12.0,68,92.0
66,2.018317e+09,ALAN ***************,09/06/1981,10.5,13.5,68,92.0
67,2.018294e+09,CASSIO *************,27/11/1979,10.5,13.5,68,92.0
68,2.018337e+09,PRISCILLA **********,24/07/1982,12.0,12.0,68,92.0
69,2.018275e+09,DAVID **************,15/01/1988,9.0,15.0,68,92.0
70,2.018290e+09,GISELE *************,24/11/1982,10.5,13.5,68,92.0
71,2.018360e+09,FELIPE *************,16/03/1994,10.5,13.5,68,92.0
72,2.018323e+09,LUIZE **************,26/04/1992,10.5,15.0,66,91.5
73,2.018362e+09,JOSE LUDYWANDER ****,25/02/1989,10.5,15.0,66,91.5
74,2.018254e+09,ALINE **************,25/11/1993,10.5,15.0,66,91.5
75,2.018280e+09,LUIZ ***************,07/05/1992,13.5,12.0,66,91.5
76,2.018309e+09,SABRINA ************,05/06/1995,12.0,13.5,66,91.5
77,2.018335e+09,RAFAEL *************,04/05/1981,10.5,15.0,66,91.5
78,2.018266e+09,PAOLA **************,09/06/1990,12.0,13.5,66,91.5
79,2.018355e+09,FABIANA ************,02/12/1988,12.0,13.5,66,91.5
80,2.018330e+09,CARLEN *************,07/12/1996,13.5,12.0,66,91.5
81,2.018264e+09,ANA MARIA **********,14/11/1991,13.5,12.0,66,91.5
82,2.018370e+09,DANIELLE ***********,11/01/1990,12.0,13.5,66,91.5
83,2.018262e+09,ARIANA *************,12/03/1982,13.5,12.0,66,91.5
84,2.018368e+09,ISABELLA ***********,26/05/2001,13.5,12.0,66,91.5
85,2.018287e+09,ESTER **************,04/07/1996,10.5,15.0,66,91.5
86,2.018275e+09,LUCIANA ************,11/03/1983,12.0,13.5,66,91.5
87,2.018282e+09,ADILSON ************,02/02/2003,10.5,15.0,66,91.5
88,2.018268e+09,ANA CAROLINA *******,17/05/1990,12.0,13.5,66,91.5
89,2.018322e+09,LUIZA **************,12/06/1999,12.0,13.5,66,91.5
90,2.018263e+09,ANNY CAROLINY ******,21/12/1994,13.5,12.0,66,91.5
91,2.018320e+09,ALESSANDRA *********,18/03/1995,12.0,15.0,64,91.0
92,2.018259e+09,AKSAN **************,20/12/1979,12.0,15.0,64,91.0
93,2.018271e+09,ANA BEATRIZ ********,17/01/1994,10.5,10.5,70,91.0
94,2.018260e+09,PATRICIA ***********,12/02/1972,7.5,13.5,70,91.0
95,2.018308e+09,CECILIA ************,15/02/1986,12.0,15.0,64,91.0
96,2.018294e+09,NEWTON *************,08/06/1986,10.5,12.0,68,90.5
97,2.018344e+09,EDUARDO ************,02/09/1983,10.5,12.0,68,90.5
98,2.018257e+09,ANA PAULA **********,31/10/1981,13.5,15.0,62,90.5
99,2.018282e+09,ESTEBAN ************,08/08/2001,7.5,15.0,68,90.5
100,2.018313e+09,MAYARA *************,21/05/1991,12.0,10.5,68,90.5
101,2.018384e+09,ANDREA *************,04/09/1968,10.5,12.0,68,90.5
102,2.018256e+09,DENISE *************,28/02/1987,10.5,12.0,68,90.5
103,2.018386e+09,VANESSA ************,11/04/1984,7.5,15.0,68,90.5
104,2.018368e+09,ANA LUISA **********,24/10/1996,10.5,12.0,68,90.5
105,2.018283e+09,MARIANE ************,22/10/1994,10.5,12.0,68,90.5
106,2.018314e+09,ERICK **************,09/11/2001,9.0,13.5,68,90.5
107,2.018304e+09,JAQUELINE **********,08/08/1994,15.0,13.5,62,90.5
108,2.018350e+09,GISELLE ************,14/01/1988,10.5,13.5,66,90.0
109,2.018310e+09,GUILHERME **********,10/07/1987,9.0,15.0,66,90.0
110,2.018311e+09,PABLO **************,06/12/1995,12.0,12.0,66,90.0
111,2.018258e+09,CLARA **************,09/05/1995,9.0,15.0,66,90.0
112,2.018301e+09,DAYANE *************,25/04/1997,12.0,12.0,66,90.0
113,2.018301e+09,JULIANA ************,14/05/1986,9.0,15.0,66,90.0
114,2.018291e+09,PATRICIA ***********,14/05/1971,10.5,13.5,66,90.0
115,2.018323e+09,JOANAIANA **********,25/03/1990,10.5,13.5,66,90.0
116,2.018334e+09,ALINE **************,04/10/1973,12.0,12.0,66,90.0
117,2.018316e+09,RENAN **************,09/11/1986,10.5,13.5,66,90.0
118,2.018309e+09,ANA CARLA **********,16/06/1986,10.5,13.5,66,90.0
119,2.018293e+09,ROSANA *************,05/05/1963,12.0,12.0,66,90.0
120,2.018273e+09,GABRIELLE **********,18/05/1998,13.5,10.5,66,90.0
121,2.018273e+09,NUBIA **************,21/09/1973,12.0,12.0,66,90.0
122,2.018293e+09,ERICA **************,10/02/1996,10.5,13.5,66,90.0
123,2.018376e+09,LUCIANA ************,03/11/1982,9.0,15.0,66,90.0
124,2.018320e+09,RAFAEL *************,21/11/1989,9.0,15.0,66,90.0
125,2.018253e+09,CARLOS *************,18/10/1978,10.5,13.5,66,90.0
126,2.018262e+09,ISABELA ************,24/02/1993,9.0,10.5,70,89.5
127,2.018264e+09,DEBORA *************,05/10/1975,13.5,12.0,64,89.5
128,2.018262e+09,WILSON *************,22/01/1983,10.5,15.0,64,89.5
129,2.018398e+09,MARCIO *************,18/01/1979,10.5,15.0,64,89.5
130,2.018272e+09,JULIANA ************,11/06/1997,7.5,12.0,70,89.5
131,2.018252e+09,RAFAEL *************,17/03/1992,10.5,15.0,64,89.5
132,2.018296e+09,BRUNO **************,12/12/1994,6.0,13.5,70,89.5
133,2.018386e+09,VICKTORIA **********,21/03/1997,12.0,13.5,64,89.5
134,2.018293e+09,DANIELI ************,06/08/1980,10.5,15.0,64,89.5
135,2.018260e+09,ANNE ***************,21/07/1999,12.0,13.5,64,89.5
136,2.018274e+09,DOUGLAS ************,08/10/1982,12.0,13.5,64,89.5
137,2.018258e+09,CAIQUE *************,17/03/2003,10.5,15.0,64,89.5
138,2.018326e+09,BRUNO **************,31/07/1981,4.5,15.0,70,89.5
139,2.018292e+09,LUIS FERNANDO ******,24/09/1986,12.0,13.5,64,89.5
140,2.018360e+09,LUIMAR *************,09/08/1990,13.5,12.0,64,89.5
141,2.018275e+09,HAINNER ************,26/01/1990,10.5,15.0,64,89.5
142,2.018342e+09,FERNANDA ***********,23/07/1976,12.0,15.0,62,89.0
143,2.018275e+09,JOSE ***************,12/04/1989,10.5,10.5,68,89.0
144,2.018287e+09,YURI PABLO *********,01/10/1991,9.0,12.0,68,89.0
145,2.018301e+09,BRUNO **************,13/11/1987,7.5,13.5,68,89.0
146,2.018290e+09,THAIS **************,16/05/1990,7.5,13.5,68,89.0
147,2.018286e+09,MARCUS *************,05/11/1993,6.0,15.0,68,89.0
148,2.018341e+09,MARCIO *************,17/03/1982,6.0,15.0,68,89.0
149,2.018382e+09,MARIO **************,14/08/1990,10.5,10.5,68,89.0
150,2.018272e+09,ALINA **************,16/06/1995,13.5,13.5,62,89.0
151,2.018301e+09,VICTOR *************,02/01/1994,6.0,15.0,68,89.0
152,2.018301e+09,MARCIO *************,14/08/1981,7.5,13.5,68,89.0
153,2.018314e+09,LUIZ CARLOS ********,10/09/1990,7.5,13.5,68,89.0
154,2.018318e+09,EDSON **************,03/08/1991,9.0,12.0,68,89.0
155,2.018254e+09,RHAISA *************,31/01/1990,9.0,12.0,68,89.0
156,2.018369e+09,CLAUDIA ************,14/05/1965,7.5,13.5,68,89.0
157,2.018382e+09,VICTOR *************,14/01/2000,13.5,15.0,60,88.5
158,2.018329e+09,ALLAN **************,02/11/1993,10.5,12.0,66,88.5
159,2.018356e+09,JANAINA ************,01/12/1984,10.5,12.0,66,88.5
160,2.018333e+09,SAULO **************,12/07/1981,9.0,13.5,66,88.5
161,2.018378e+09,DANIEL *************,14/12/1990,10.5,12.0,66,88.5
162,2.018307e+09,ANA CAROLINA *******,01/07/2001,9.0,13.5,66,88.5
163,2.018396e+09,AMANDA *************,13/11/1996,9.0,13.5,66,88.5
164,2.018277e+09,LUCAS **************,19/02/1998,9.0,13.5,66,88.5
165,2.018334e+09,JHONATA ************,25/07/1999,10.5,12.0,66,88.5
166,2.018294e+09,MARIA **************,20/03/1978,7.5,15.0,66,88.5
167,2.018280e+09,GIOVANNA ***********,22/08/2000,9.0,13.5,66,88.5
168,2.018261e+09,CAMILA *************,05/11/1989,7.5,15.0,66,88.5
169,2.018286e+09,MANOELA ************,13/08/1998,10.5,12.0,66,88.5
170,2.018286e+09,ARTUR **************,26/12/1998,10.5,13.5,64,88.0
171,2.018305e+09,TACIO **************,13/06/1994,10.5,13.5,64,88.0
172,2.018354e+09,FELIPE *************,20/01/1995,10.5,13.5,64,88.0
173,2.018374e+09,VANESSA ************,23/11/1981,12.0,12.0,64,88.0
174,2.018350e+09,CAROLINE ***********,27/11/1994,12.0,12.0,64,88.0
175,2.018295e+09,ANDRE **************,11/04/1977,10.5,13.5,64,88.0
176,2.018259e+09,HERGUS *************,28/07/1992,10.5,13.5,64,88.0
177,2.018275e+09,JULIANA ************,28/03/1994,13.5,10.5,64,88.0
178,2.018323e+09,FERNANDA ***********,20/09/1979,9.0,15.0,64,88.0
179,2.018259e+09,ANA PRISCILA *******,18/01/1979,10.5,13.5,64,88.0
180,2.018313e+09,VINICIUS ***********,26/02/1993,9.0,15.0,64,88.0
181,2.018332e+09,VIVIANE ************,11/05/1994,15.0,15.0,58,88.0
182,2.018271e+09,RAFAEL *************,23/11/1997,12.0,12.0,64,88.0
183,2.018310e+09,ANA LUCIA **********,20/06/1969,10.5,13.5,64,88.0
184,2.018342e+09,CARLOS *************,14/06/1984,10.5,13.5,64,88.0
185,2.018343e+09,ALINE **************,29/12/1987,12.0,12.0,64,88.0
186,2.018255e+09,JESSICA ************,30/10/1990,10.5,13.5,64,88.0
187,2.018294e+09,RENAN **************,11/08/1988,9.0,15.0,64,88.0
188,2.018267e+09,GILBERTO ***********,21/08/1981,12.0,12.0,64,88.0
189,2.018372e+09,JOAO GABRIEL *******,18/01/1993,10.5,13.5,64,88.0
190,2.018268e+09,RICARDO ************,02/01/1985,7.5,10.5,70,88.0
191,2.018256e+09,MARCUS *************,16/05/1978,12.0,12.0,64,88.0
192,2.018272e+09,ISADORA ************,28/11/1997,9.0,15.0,64,88.0
193,2.018348e+09,ANTONIO ************,08/05/1984,12.0,13.5,62,87.5
194,2.018386e+09,JOCLEIDE ***********,08/09/1988,9.0,10.5,68,87.5
195,2.018270e+09,RAONI **************,10/03/1988,7.5,12.0,68,87.5
196,2.018334e+09,DYANA **************,19/04/2000,12.0,13.5,62,87.5
197,2.018260e+09,ROSA MARIA *********,15/10/1988,7.5,12.0,68,87.5
198,2.018311e+09,ANA PAULA **********,03/10/1972,9.0,10.5,68,87.5
199,2.018349e+09,ANDRE **************,20/12/1991,10.5,15.0,62,87.5
200,2.018357e+09,YASMIN *************,08/02/1997,12.0,13.5,62,87.5
201,2.018387e+09,JOAO FELIPE ********,20/08/1996,10.5,15.0,62,87.5
202,2.018395e+09,VIVIANE ************,06/03/1986,13.5,12.0,62,87.5
203,2.018292e+09,ROSANE *************,03/05/1964,12.0,13.5,62,87.5
204,2.018363e+09,MATEUS *************,18/04/1998,10.5,15.0,62,87.5
205,2.018266e+09,ROMULO *************,17/02/1993,7.5,12.0,68,87.5
206,2.018285e+09,RAILA **************,16/09/1992,7.5,12.0,68,87.5
207,2.018302e+09,ERICA **************,08/12/1991,12.0,13.5,62,87.5
208,2.018323e+09,IAN RODRIGUES ******,31/12/1998,13.5,12.0,62,87.5
209,2.018258e+09,ALESSANDRO *********,16/12/1980,6.0,13.5,68,87.5
210,2.018366e+09,FERNANDA ***********,01/12/1967,7.5,12.0,68,87.5
211,2.018283e+09,ELIZETE ************,03/05/1988,10.5,10.5,66,87.0
212,2.018255e+09,PAMELA *************,13/05/2000,7.5,13.5,66,87.0
213,2.018333e+09,WEVERSON ***********,05/11/1990,7.5,13.5,66,87.0
214,2.018272e+09,LEILA **************,10/11/1992,7.5,13.5,66,87.0
215,2.018300e+09,FABIANO ************,06/09/1991,10.5,10.5,66,87.0
216,2.018254e+09,IVONAIDE ***********,19/03/1963,6.0,15.0,66,87.0
217,2.018339e+09,RAFAEL *************,08/08/1979,13.5,13.5,60,87.0
218,2.018366e+09,CHRISTIANO *********,25/10/1997,12.0,15.0,60,87.0
219,2.018371e+09,FILIPE *************,02/05/1989,13.5,13.5,60,87.0
220,2.018324e+09,LUCIANA ************,26/01/1979,7.5,13.5,66,87.0
221,2.018343e+09,LEANDRO ************,20/07/1973,12.0,15.0,60,87.0
222,2.018317e+09,BRUNO **************,19/04/1989,12.0,15.0,60,87.0
223,2.018265e+09,AUREA **************,20/08/1966,10.5,10.5,66,87.0
224,2.018294e+09,THIAGO *************,14/10/1978,7.5,13.5,66,87.0
225,2.018359e+09,ANA MARIA **********,10/07/1991,7.5,13.5,66,87.0
226,2.018369e+09,RENAN **************,15/02/1992,9.0,13.5,64,86.5
227,2.018301e+09,NELSON *************,11/08/1981,10.5,12.0,64,86.5
228,2.018375e+09,LEONARDO ***********,06/09/1980,9.0,13.5,64,86.5
229,2.018297e+09,MARCELA ************,10/08/1981,9.0,13.5,64,86.5
230,2.018363e+09,ROBERTO ************,25/05/1980,6.0,10.5,70,86.5
231,2.018298e+09,RODRIGO ************,07/07/1985,10.5,12.0,64,86.5
232,2.018379e+09,LENISETH ***********,13/03/1992,9.0,13.5,64,86.5
233,2.018375e+09,ALESSANDRO *********,15/07/1976,12.0,10.5,64,86.5
234,2.018276e+09,CAMILA *************,22/02/1989,13.5,15.0,58,86.5
235,2.018253e+09,PATRICK ************,25/05/1995,10.5,12.0,64,86.5
236,2.018305e+09,NADIA **************,15/03/1982,10.5,12.0,64,86.5
237,2.018340e+09,MARCUS *************,05/04/1980,7.5,15.0,64,86.5
238,2.018263e+09,PABLINO ************,02/01/1990,13.5,15.0,58,86.5
239,2.018391e+09,ALINE **************,17/03/1985,9.0,13.5,64,86.5
240,2.018264e+09,PATRICIA ***********,25/09/1974,10.5,12.0,64,86.5
241,2.018322e+09,CLAUDIO ************,11/03/1968,10.5,12.0,64,86.5
242,2.018253e+09,JULIO **************,04/07/1988,12.0,12.0,62,86.0
243,2.018294e+09,ANNA PRISCYLLA *****,29/12/1990,12.0,12.0,62,86.0
244,2.018296e+09,DEBORA *************,05/11/1992,12.0,12.0,62,86.0
245,2.018389e+09,LUCAS **************,06/08/1995,10.5,13.5,62,86.0
246,2.018301e+09,LUCIANA ************,24/01/1997,12.0,12.0,62,86.0
247,2.018260e+09,CLEYCIARA **********,20/05/1983,12.0,12.0,62,86.0
248,2.018372e+09,PANMELLA ***********,14/04/1991,12.0,12.0,62,86.0
249,2.018275e+09,IVO ****************,14/02/2002,12.0,12.0,62,86.0
250,2.018356e+09,ALLAN **************,15/10/1988,10.5,13.5,62,86.0
251,2.018259e+09,MATEUS *************,12/10/1990,12.0,12.0,62,86.0
252,2.018261e+09,FELLIPE ************,05/10/1987,10.5,13.5,62,86.0
253,2.018300e+09,KARLA **************,26/04/1989,10.5,13.5,62,86.0
254,2.018320e+09,CARLOS *************,02/07/1984,9.0,15.0,62,86.0
255,2.018306e+09,ANA BARBARA ********,06/09/1992,6.0,12.0,68,86.0
256,2.018256e+09,CHRISTIANE *********,03/01/1986,10.5,13.5,62,86.0
257,2.018389e+09,BIANCA *************,28/03/1977,9.0,15.0,62,86.0
258,2.018338e+09,MARIA **************,18/03/1983,9.0,15.0,62,86.0
259,2.018363e+09,ISRAEL *************,21/08/1981,10.5,13.5,62,86.0
260,2.018351e+09,RAQUEL *************,06/04/1996,9.0,15.0,62,86.0
261,2.018336e+09,EMERSON ************,16/01/1986,9.0,15.0,62,86.0
262,2.018355e+09,DIOGO **************,18/03/1978,9.0,15.0,62,86.0
263,2.018322e+09,OHANNA *************,11/09/1992,10.5,13.5,62,86.0
264,2.018312e+09,MARCELLE ***********,06/11/1993,9.0,15.0,62,86.0
265,2.018360e+09,JULIA **************,16/04/1984,12.0,12.0,62,86.0
266,2.018286e+09,TAYNAN *************,26/11/1991,9.0,15.0,62,86.0
267,2.018287e+09,EDILENE ************,19/01/1974,9.0,10.5,66,85.5
268,2.018375e+09,WAGNER *************,15/01/1971,10.5,15.0,60,85.5
269,2.018268e+09,LUCAS **************,02/01/2002,12.0,13.5,60,85.5
270,2.018391e+09,DANIEL *************,06/02/1984,10.5,9.0,66,85.5
271,2.018396e+09,CLAUDIO ************,11/03/1970,10.5,15.0,60,85.5
272,2.018362e+09,MONICA *************,09/06/1978,7.5,12.0,66,85.5
273,2.018257e+09,PAULA **************,12/03/1980,6.0,13.5,66,85.5
274,2.018344e+09,FLAVIA *************,18/04/1997,6.0,13.5,66,85.5
275,2.018351e+09,FABIOLA ************,01/10/1974,7.5,12.0,66,85.5
276,2.018353e+09,ALINE **************,25/12/1982,9.0,10.5,66,85.5
277,2.018314e+09,RAQUEL *************,11/11/1992,9.0,10.5,66,85.5
278,2.018260e+09,RODRIGO ************,09/02/1988,12.0,13.5,60,85.5
279,2.018296e+09,PRISCILA ***********,24/05/1986,7.5,12.0,66,85.5
280,2.018280e+09,LETICIA ************,12/11/1993,13.5,12.0,60,85.5
281,2.018328e+09,RENATA *************,14/04/1984,7.5,12.0,66,85.5
282,2.018375e+09,JESSICA ************,17/07/1991,12.0,13.5,60,85.5
283,2.018269e+09,PAMELA *************,03/06/1992,12.0,13.5,60,85.5
284,2.018323e+09,SILVIA *************,11/02/1975,10.5,15.0,60,85.5
285,2.018268e+09,VIVIANE ************,30/06/1973,9.0,10.5,66,85.5
286,2.018278e+09,JORGE **************,14/06/1975,10.5,15.0,60,85.5
287,2.018355e+09,LEONARDO ***********,12/03/1983,12.0,13.5,60,85.5
288,2.018362e+09,FABIO **************,01/06/1980,12.0,13.5,60,85.5
289,2.018257e+09,RAPHAEL ************,25/08/1992,12.0,13.5,60,85.5
290,2.018281e+09,MARCIO *************,02/03/1970,12.0,13.5,60,85.5
291,2.018267e+09,VIVIANE ************,30/03/1977,10.5,15.0,60,85.5
292,2.018328e+09,MARIANNE ***********,15/05/1990,13.5,12.0,60,85.5
293,2.018322e+09,FERNANDA ***********,26/04/1981,7.5,12.0,66,85.5
294,2.018264e+09,ARTHUR *************,13/04/1993,15.0,10.5,60,85.5
295,2.018341e+09,ORLAN **************,08/11/1983,7.5,13.5,64,85.0
296,2.018320e+09,LUIZ FERNANDO ******,06/11/1971,9.0,12.0,64,85.0
297,2.018303e+09,ROSALBA ************,08/02/1968,12.0,15.0,58,85.0
298,2.018256e+09,ELAINE *************,16/05/1979,9.0,12.0,64,85.0
299,2.018257e+09,MATEUS *************,19/08/1987,9.0,12.0,64,85.0